* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.mobile-hide {
  display: none;
}

a {
  text-decoration: none;
}

.page {
  min-height: 100vh;
  padding-bottom: 60px;
  padding: 60px 24px 0;
  background: #fff;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.header {
  position: relative;
}

section.content {
  flex-grow: 2;
}
ul {
  list-style: none;
}
p > ul {
  list-style: disc;
}

@media (min-width: 768px) {
  .page {
    padding: 60px 24px;
  }
  .mobile-show {
    display: none;
  }

  .mobile-hide {
    display: block;
  }
}
@media (min-width: 1124px) {
  .container {
    width: 980px;
  }
}
